/* ====================================================== */
/*                    SINGLE CLASS PAGE                   */
/* ====================================================== */

.thumbnail {
    height: 600px; 
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.single-class .class-meta {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    margin-bottom: 14px;
}

.single-class .meta-item span {
    font-size: 1rem;
}


.booking-btn {
    display: block;
    margin: 0 auto;
}

/* Navigation Links */
.nav-articles {
    padding: 40px 0;
}

.nav-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-parent a {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--yoga-purple-dark);
    text-decoration: none;
    transition: 0.25s ease;
}

.nav-parent a:hover {
    color: var(--yoga-text-dark);
}


/* ============ */
/*  RESPONSIVE  */
/* ============ */
/* Tablet & below (≤992px) */
@media (max-width: 992px) {
    .thumbnail {
        height: 400px;
    }

    .single-class .row {
        row-gap: 1.5rem;  
    }
}

/* Mobile (≤768px) */
@media (max-width: 768px) {
     .thumbnail {
        height: 300px;
    }

    .single-class .row {
        row-gap: 1rem;   
    }

    .single-class-banner {
        display: none;
    }
}
